body {
    background: #efefef url("../../../images/bg1.jpg") fixed;
    background-size: cover;
}

body:before {
    background: transparent !important;
}

.main-box {
    background-color: #ecf0f1;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}

#header_forum .breadcrumb > li + li:before {
    color: #fff;
}

.forum-main .panel,
.forum-panel {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.forum_main .forum-count-number {
    font-size: 20px;
    line-height: 0;
}

.forum_main .forum-count-text {
    font-size: 15px;
    line-height: 0;
}

.forum.label {
    padding: 5px;
}

.forum.label > .detail {
    padding: .6em;
    margin: .2em -.4em 0 .5em;
}

.forum_main .card {
    background: #fff;
    border-radius: 0;
    border: 0;
}

.forum_rank i {
    margin: 0 !important;
    padding: 0 !important;
}

#forum_id-field .select2-search-choice-close {
    display: none !important;
}

#filter_date-field > .control-label {
    width: inherit;
    display: inline-block;
}

#filter_date-field .btn-default {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

.post-item {
    background: #fff;
}
